.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  padding: 0 30px 0 30px;
}

.pingfenqu {
  flex: 1;
  overflow-y: scroll;
  height:100vh;
  padding: 0 30px 30px 30px;
}

.zuowenqu {
  flex: 1;
  overflow-y: scroll;
  padding: 30px;
  height:100vh;
}

.shijianzhicheng-card {
  border: 1px solid lightgray;
  position: relative;
  padding: 0 10px 10px 10px;
  margin: 10px 10px 10px 0;
}
.shijianzhicheng-card p, label{
  font-size: small;
}
.shijianzhicheng-card div textarea {
  width: 80%;
}
.shijianzhicheng-delete-button {
  position: absolute;
  right: 10px;
  top: 25px;
}

.daolizhicheng-card {
  border: 1px solid lightgray;
  position: relative;
  padding: 0 10px 10px 10px;
  margin: 10px 10px 10px 0;
}

.daolizhicheng-card p, label{
  font-size: small;
}
.daolizhicheng-card div textarea {
  width: 80%;
}

.daolizhicheng-delete-button {
  position: absolute;
  right: 10px;
  top: 25px;
}

textarea {
    resize: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
